<div class="card border-left-primary shadow h-100 py-2">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="image-container"
                    style="background-image: url('{{ producto.imagen }}'); background-size: cover; background-position: center; width: 100%; height: 500px; border: 0.2px solid #cccccc49; border-radius: 10px;">
                </div>
            </div>
            <div class="col-md-6" style="height: 500px;">
                <div class="text-center">
                    <h3>{{ producto.nombre }}</h3>
                    <h5>{{ producto.precio | currency: 'COP' }}</h5>
                </div>

                <p class="mt-5">Descripción</p>
                <p style="margin-top: -15px; font-size: 12px;">{{ producto.descripcion }}</p>

                <div id="zona-baja-producto" class="mt-auto"> <!-- mt-auto para que se alinee en la parte inferior -->
                    <br>
                    <hr>
                    <h5>Categorías: {{cadenaCatagorias}}</h5>
                    <h5>Stock: {{ producto.stock }}</h5>
                    <h5>Usuario Subió: {{producto.usuarioCrea.nombreCompleto}}</h5>
                </div>
            </div>
        </div>
        <div *ngIf="idUsuarioLogueado && idUsuarioLogueado !=''">

            <div class="card shadow mb-4 mt-5">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardExample" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                    role="button" aria-expanded="false" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Administrar Producto</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardExample" style="">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <a (click)="cargarDatosModal()" style="width: 100%;" data-toggle="modal"
                                    data-target="#staticBackdrop" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Editar Producto</span>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a style="width: 100%;" (click)="eliminarProduto()" class="btn btn-danger btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                    <span class="text">Eliminar Producto</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 mt-2">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardPrecios" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                    role="button" aria-expanded="false" aria-controls="collapseCardPrecios">
                    <h6 class="m-0 font-weight-bold text-primary">Historico de Precios</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardPrecios" style="">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4 mt-2">
                <!-- Card Header - Accordion -->
                <a href="#collapseCardStock" class="d-block card-header py-3 collapsed" data-toggle="collapse"
                    role="button" aria-expanded="false" aria-controls="collapseCardStock">
                    <h6 class="m-0 font-weight-bold text-primary">Historico de Stock</h6>
                </a>
                <!-- Card Content - Collapse -->
                <div class="collapse" id="collapseCardStock" style="">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td colspan="2">Larry the Bird</td>
                                    <td>@twitter</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modificando producto SKU {{ producto.id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form class="ml-2 mr-2" [formGroup]="productoForm">

                    <div class="form-group">
                        <label for="inputNombre">Nombre Producto</label>
                        <input formControlName="nombre" type="text" class="form-control" id="inputNombre"
                            placeholder="Requerido">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Descripción</label>
                        <textarea formControlName="descripcion" class="form-control" id="exampleFormControlTextarea1"
                            rows="5"></textarea>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="inputPrecio">Precio</label>
                            <input formControlName="precio" type="number" class="form-control" id="inputPrecio"
                                placeholder="Requerido">
                        </div>

                        <div class="form-group col-md-6">
                            <label for="inputStock">Stock</label>
                            <input formControlName="stock" type="number" class="form-control" id="inputStock"
                                placeholder="Requerido">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <p class="col-md-12">Seleccione una o mas categorias:</p>

                        <div class="col-md-3" *ngFor="let item of categoriasGeneralesModificada">
                            <input (click)="categoriasClick(item)" type="checkbox" [(ngModel)]="item.checked"
                                [id]="item.id" [ngModelOptions]="{standalone: true}">
                            <label style="margin-left: 5px;" [for]="item.id"> {{ item.nombre }}</label>
                        </div>
                    </div>


                    <div class="form-group mt-3">
                        <label for="inputImagen">URL imagen</label>
                        <input type="text" formControlName="imagen" class="form-control" id="inputImagen"
                            placeholder="Requerido">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cerrarModal" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" (click)="actualizar($event)" class="btn btn-primary">Actualizar</button>
            </div>
        </div>
    </div>
</div>


